@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-w-80 min-h-screen;
    @apply text-white bg-gray-900;
  }

  #app {
    @apply max-w-7xl mx-auto p-8;
  }

  @media (prefers-color-scheme: light) {
    body {
      @apply text-gray-800 bg-white;
    }
  }
}
